# Microbiota analysis
## Author: Tijs van Lieshout

In [31]:
import pandas as pd
import glob
PATH = "../microbiota_tax_data"
gfkb = pd.read_csv(f"{PATH}/GutFeelingKnowledgeBase-v4-Master_List.csv")
gfkb = gfkb.drop(columns=["Present in GFKB v3 (Y/N)", "Present in GFKB_epilepsy v3 (Y/N)"])
gfkb = pd.concat([gfkb.drop(columns=["Genome Size (Mb)"]), gfkb["Genome Size (Mb)"]], axis=1)

gfkb.info()

tax_profiles = []
for file in glob.glob(f"{PATH}/metaphlan_output/*.txt"):
    tax_profile = pd.read_csv(file, 
                              comment="#", 
                              sep="\t", 
                              names=["clade_name", "NCBI_tax_id", "relative_abundance", "additional_species"])
    tax_profiles.append(tax_profile)
    print(tax_profile.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Unique ID                                 188 non-null    object
 1   UP ID                                     188 non-null    object
 2   UP taxonomy                               188 non-null    int64
 3   UP name                                   188 non-null    object
 4   Assembly ID (UP matched)                  188 non-null    object
 5   RefSeq Accession                          188 non-null    object
 6   Plasmid/additional chromosome accessions  44 non-null     object
 7   GenBank Accession                         188 non-null    object
 8   GenBank record name                       188 non-null    object
 9   NCBI taxonomy                             187 non-null    float64
 10  NCBI taxonomy name                        186 non-null    object
 11  Lineage (full)                            188 non-null    object
 12  Characteristics                           183 non-null    object
 13  Effect/Function                           180 non-null    object
 14  Curation Notes                            135 non-null    object
 15  Genome Size (Mb)                          185 non-null    float64
dtypes: float64(2), int64(1), object(13)
memory usage: 23.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          67 non-null     object
 1   NCBI_tax_id         67 non-null     object
 2   relative_abundance  67 non-null     float64
 3   additional_species  11 non-null     object
dtypes: float64(1), object(3)
memory usage: 2.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          1 non-null      object
 1   NCBI_tax_id         1 non-null      int64
 2   relative_abundance  1 non-null      float64
 3   additional_species  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 160.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          1 non-null      object
 1   NCBI_tax_id         1 non-null      int64
 2   relative_abundance  1 non-null      float64
 3   additional_species  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 160.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          51 non-null     object
 1   NCBI_tax_id         51 non-null     object
 2   relative_abundance  51 non-null     float64
 3   additional_species  13 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          9 non-null      object
 1   NCBI_tax_id         9 non-null      object
 2   relative_abundance  9 non-null      float64
 3   additional_species  1 non-null      object
dtypes: float64(1), object(3)
memory usage: 416.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          104 non-null    object
 1   NCBI_tax_id         104 non-null    object
 2   relative_abundance  104 non-null    float64
 3   additional_species  20 non-null     object
dtypes: float64(1), object(3)
memory usage: 3.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          29 non-null     object
 1   NCBI_tax_id         29 non-null     object
 2   relative_abundance  29 non-null     float64
 3   additional_species  3 non-null      object
dtypes: float64(1), object(3)
memory usage: 1.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          9 non-null      object
 1   NCBI_tax_id         9 non-null      object
 2   relative_abundance  9 non-null      float64
 3   additional_species  1 non-null      object
dtypes: float64(1), object(3)
memory usage: 416.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          24 non-null     object
 1   NCBI_tax_id         24 non-null     object
 2   relative_abundance  24 non-null     float64
 3   additional_species  7 non-null      object
dtypes: float64(1), object(3)
memory usage: 896.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   clade_name          41 non-null     object
 1   NCBI_tax_id         41 non-null     object
 2   relative_abundance  41 non-null     float64
 3   additional_species  9 non-null      object
dtypes: float64(1), object(3)
memory usage: 1.4+ KB
None